################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ex1_WindowFomrApp/.vs/Ex1_WindowFomrApp
